extends layout

block content      
    script.
      var check = function() {
        if (document.getElementById('password').value ==
          document.getElementById('confirm_password').value) {
          document.getElementById('message').style.color = 'green';
          document.getElementById('message').innerHTML = 'matching';
        } else {
          document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = 'not matching';
        }
      }

    .container.mx-auto.pt-4              
      form.w-full.max-w-md.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4.mx-auto.mt-8(action='/addadmin', method='POST')
        |
        - if(error1){
        .bg-red-lightest.border.border-red-light.text-red-dark.px-4.py-3.rounded.relative(role='alert') #{error1}
        - }
        |
        - if(error2){
        .bg-red-lightest.border.border-red-light.text-red-dark.px-4.py-3.rounded.relative(role='alert') #{error2}
        - }
        |
        - if(info){
        .bg-green-lightest.border.border-green-light.text-green-dark.px-4.py-3.rounded.relative(role='alert') #{info}
        - }        
        .text-center
          label.block.font-bold.text-grey-darker.text-xl.mb-6.mt-4
            | ADD USER
        .flex.items-center.mb-6
          .col-4
            label.block.text-grey-darker.text-left.mb-1.mb-0.pr-4
              | Username
          .col
            input#username.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' name = "username" value = susername)
        .flex.items-center.mb-6
          .col-4
            label.block.text-grey-darker.text-left.mb-1.mb-0.pr-4
              | Email
          .col
            input#email.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' name = "email" value = semail)
        .flex.items-center.mb-6
          .col-4
            label.block.text-grey-darker.text-left.mb-1.mb-0.pr-4
              | Password
          .col
            input#password.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' type= 'password' name = "password" onkeyup='check();' value = spassword)        
        .flex.items-center.mb-6
          .col-4
            label.block.text-grey-darker.text-left.mb-1.mb-0.pr-4
              | Confirm Password
          .col
            input#confirm_password.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' type= 'password' name = "cpassword" value = scpassword onkeyup='check();')          
        .flex.items-center.mb-6
          .col-4
          .col.text-red  
            span#message.italic.text-sm
            if errors  
              .bg-red-lightest.border.border-red-light.text-red-dark.px-4.py-3.rounded.relative(role='alert')
                ul
                  for error in errors
                    li!= error.msg          
        .flex.items-center
          .col-4
          .col
            button.shadow.bg-purple.text-white.font-bold.py-2.px-4.rounded.mr-6(class='hover:bg-purple-light', type='submit' , value='submit')
              | ADD USER
