extends layout

block content
    .container.text-center.pt-8
      h1.text-grey-dark.mt-4.text-bold= title 
      .table-responsive
        table.table.table-hover.table-bordered.text-center.items-center.bg-white.shadow-md
          thead.thead-dark.text-grey-light
            tr
              th ID
              th Username
              th Email
          tbody.text-grey-darkest
            for user in data
              tr
                td= user.id
                td= user.username
                td= user.email
                