extends layout

block content
    .container.text-center.pt-8
      h1.text-grey-darker.mt-4.text-bold WELCOME HOME
      h2.text-grey-darker.mt-4.text-bold This is Simple CRUD Project
      h3.text-grey-darker.mt-4.text-bold Hi, #{username}

      

    