html
  head
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    style.
  body
    form.w-full.max-w-md.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4.mx-auto.mt-8(action='/signin', method='POST')
      |
      - if(success){
      .bg-green-lightest.border.border-green-light.text-red-dark.px-4.py-3.rounded.relative(role='alert') #{success}
      - }
      .text-center
        label.block.text-grey-darker.text-xl.font-bold.mb-6.mt-4
          | LOGIN
      .flex.items-center.mb-6
        .col-4
          label.block.text-grey-darker.font-bold.text-left.mb-1.mb-0.pr-4(for='inline-full-name')
            | USERNAME
        .col
          input#id_student.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' name = "username")
      .flex.items-center.mb-6
        .col-4
          label.block.text-grey-darker.font-bold.text-left.mb-1.mb-0.pr-4
            | PASSWORD
        .col
          input#name.bg-grey-lighter.border-grey-lighter.rounded.w-full.py-2.px-4.text-grey-darker(class='hover:border-purple' name = "password" type = 'password' )      
      .flex.items-center.mb-6
        .col-4
        .col
          |
          - if(message){
          .text-red-dark.text-sm.italic.px-4.py-3.rounded.relative(role='alert') #{message}
          - }
          button.shadow.bg-blue.text-white.font-bold.py-2.px-4.full-rounded.mr-4(class='hover:bg-purple-light', type='submit' , value='submit')
            | LOGIN    
          a.text-blue.font-bold.text-left.mb-1.mb-0.pr-4(href='/forgot')
            | Forgot Password? 
      .flex.items-center.mb-6
        .col-4

